.top-bar{
    background-color: #02263F;
    color:#FAF8F0;
    z-index: 2000;
    height: 75px;
}
.top-bar img{
    width:190px;
}

.top-bar .logo{
    width: 215px;
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 1.7em;
}

.top-bar a{
    color:#FAF8F0;
    text-decoration: none;
}

.login-button{
    font-weight: 300;
    background-color: #02263F;
    border:none;
    color:#FAF8F0;
}

.top-bar form{
    display: flex;
    align-items: center;
    margin-left: 50px;
}


.top-bar input{
    padding: 8px 20px;
    margin-left: 210px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 500px;
    box-shadow: inset 0px 0px 19px -5px rgba(0,0,0,0.8);
}

.top-bar .search-button{
    color:#FAF8F0;
    background-color: #E44652;
    border: none;
    padding: 8px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    font-weight: 700;
}

.top-bar nav{
    width: 100%;
    display:flex;
    justify-content: space-between;
}


.row{
    margin:0;
}