.following{
    padding: 30px 50px 100px;
}

.following h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.9em;
}
.following h2{
    padding: 15px 0px;
    font-size: 1.4em;
    display: inline;
}

.following .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#043353;
    padding: 20px;
    margin:10px 10px;
    min-height: 100%;
    width:100%;
    border: 2px solid #043353;
    background-color: #F8F8F8;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.following  img{
    width: 90%;
    border-radius: 7px;
    margin: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.following .card>p{
    width: 90%;
    font-size: 1.3em;
    font-weight: 400;    
}

.following .msg{
    margin-top: 50px;
    text-align: center;
    color:#E44652;
    
}

.following .msg>p{
    display: inline;
    background-color: #FAF8F0;
    border: 2px solid #043353;
    padding: 18px 25px;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: 700;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.following-button{
    border: none;
    color: #FAF8F0;
    background-color: #E44652;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0px 12px;
    margin-left: 10px;
    border-radius: 50%;
}

.following-modal {
    text-align: center;
    color: #043353;
}

.following-modal .modal-header{
    background-color: #043353;
    color: #FAF8F0;
    border: none;
}

.following-modal img{
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}

.following-modal p{
    font-weight: 400;
    font-size: 1.2em;
}

.following-modal h4{
    font-size: 1.1em;
    display: inline;
}

