.side-bar{
    width:250px;
    height: 100vh;
    background-color: #043353;
    position: fixed;
    z-index: 1000;
    left: 0px;
    color: #FAF8F0;
    padding-top: 25px ;
    padding-right: 30px;
    font-size: 1.2em;
    font-weight: 400;
}

.side-bar img{
    width:70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #FAF8F0;
}

.side-link{
    color: #FAF8F0;
    text-decoration: none;
}

.side-bar li{
    list-style: none;
    text-align: end;
}

.side-bar hr{
    border-top: 1px solid #14496D;
}

.side-link:hover{
    color: #FAF8F0;
    text-decoration: none;
}