@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAF8F0;
    margin-top:75px;
    padding: 0;
}

.add-margin-left{
    margin-left: 250px;
}

h1,h2{
    font-weight: 400;
    color: #043353;
}

.light-weight{
    font-weight: 300;
}

.regular-weight{
    font-weight: 400;
}

.bold-weight{
    font-weight: 700;
}

/* FORMS */
.form-style{
    color:#043353;
}

.form-title{
    padding-top: 25px;
    color:#043353;
}

.form-control{
    color:#02263F;
    background-color: #F8F8F8;
}
.form-style label{
    color:#043353;
    font-weight: 400;
}


hr{
    border-top: 1px solid #E44652;
}

.form-button{
    color:#FAF8F0;
    background-color: #E44652;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.form-button:hover{
    color:#FAF8F0;
    background-color: #E44652;
}

.form-button:active{
    color:#FAF8F0;
    background-color: #E44652;
}

.link-form{
    color:#E44652;
    text-decoration: none;
}

.link-form:hover{
    color:#E44652;
    text-decoration: none;
}

.shadow-up{
   box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.75); 
}

.shadow-down{
   box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75); 
}

.shadow-right{
   box-shadow: 2px 0px 8px 0px rgba(0,0,0,0.75); 
}

.marker{
    width:20px;
    height:20px;
    background-color: #FAF8F0;
    border: 3px solid #E44652;
    border-radius: 50%;
}